data_processing_tools/__pycache__/parsimony_pb2.cpython-38.pyc
data_processing_tools/public-latest.all.masked.pb
data_processing_tools/date_comparison.tsv.gz
data_processing_tools/public-latest.metadata.tsv.gz
data_processing_tools/__pycache__/ushertools.cpython-38.pyc
taxonium_component/public/public2.jsonl.gz
taxonium_component/public/public.jsonl.gz
data_processing_tools/public-latest.all.masked.pb.gz
.venv/**
taxonium_backend/latest_public.jsonl.gz
taxonium_backend/latest_public.jsonl.gz.1
**/.pyc
taxonium_component/dist
taxonium_component/storybook-static/**
.DS_Store
**/*.egg-info/**
**/*.pyc
**/_version.py
*/node_modules/**
.aider*
**/node_modules/**
*.vscode/*
