/* ./your-css-folder/styles.css */
@import "tailwindcss";

@plugin "@tailwindcss/forms";
@tailwind base;
@tailwind components;
@tailwind utilities;


.tx-button:focus-visible {
  @apply outline-none ring-offset-0 ring-1 ring-gray-800 border-gray-800;
}

/* JBrowse customization */
.MuiPaper-root.MuiPaper-rounded.MuiPaper-elevation {
  box-shadow: none !important;
  padding: 0px !important;
  margin: 0px !important;
}

#view-browser-axis > div > span > div > div > div > div:nth-child(1) {
  display: none !important;
}

.jss2 {
  margin: 0px !important;
}

p[data-testid="refLabel-NC_045512v2"] {
  display: none !important;
}

[class*="PrivateSwitchBase-input-"] + svg {
  color: "#2463eb" !important;
}

.sidebar-toggle {
  border: 2px solid rgb(136, 135, 135) !important;
  border-radius: 3px;
  margin: 10px;
}

.sidebar-open {
  transition: right 0.3s ease-in-out !important;
}

.sidebar-closed {
  transition: right 0.3s ease-in-out !important;

  position: absolute;
  width: 60px;
  right: 0px;
}

.search-panel {
  width: 100% !important;
}

select,
input {
  border-color: #c7ccd8 !important;
}

.infoTooltip {
  max-width: 200px;
  font-size: 12pt !important;
  pointer-events: auto !important;
}
.infoTooltip :hover {
  visibility: visible !important;
  opacity: 1 !important;
}
.tooltipLink {
  color: #2563eb;
  text-decoration: underline;
}

button[data-testid="addTrackNextButton"] {
  background-color: #858585;
}

.MuiDialog-container > div > div > .MuiScopedCssBaseline-root {
  padding: 15px;
}
